[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "poisonfrogs"]
	path = poisonfrogs
	url = https://github.com/laurenoconnelllab/poisonfrogs
